<main class="container">
      <h1 class="animate__animated animate__backInDown">Sims Awaken</h1>

<div class="container">
<button type="button" class="bluepill btn btn-primary"><a class="nav-link" href="/exit">Take the Blue Pill</a></button>
<button type="button" class="redpill btn btn-danger"><a class="nav-link" href="/signup">Take the Red Pill</a></button>
<br>
<button type="button" class="whitepill btn btn-dark"><a class="nav-link" href="/login">Sign In</a></button>
</div>
</main>



<article class="post">

    {{#each posts as |post| }}
        {{> post-info post}}
    {{/each}}

</article>

